@tailwind base;
@tailwind components;
@tailwind utilities;

.embla__viewport {
  overflow: hidden;
  z-index: -10;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
